@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  height: 100vh;
  position: relative;
}

.header__slider{
  &-item{
    height: 100vh;
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-subtext {
  margin-bottom: 8px;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.slider-item__info-text{
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box{
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.header__title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, .25);
  height: 100vh;
  text-align: center;
}

.menu {
  padding-top: 40px;
  span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    padding-top: 6px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

.header__search {
  padding: 15px 0 35px;
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    padding-top: 15px;
    display: block;
  }
}

.header__location{
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
  &::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url("../img/marker.svg");
    left: 0;
    top: 0;
  }
}

.header__map{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  bottom: 30px;
  left: 210px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  background-image: url("../img/surf-bg.png");
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
}

.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box{
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n +3) {
    .surf-box{
      margin-top: 89px;
    }
  }
  .slick-current {
    .surf-box__inner-btn {
      display: block;
    }
    .surf-box__inner {
      background: rgba(#1C2121, .3);
    }
  }
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 750px;
    background: rgba(#1C2121, .85);
    position: relative;
    transition: all .5s;
    &:hover {
      background: rgba(#1C2121, .3);
      .surf-box__inner-btn {
        display: block;
      }
    }
  }
}

.surf-box__inner-title{
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.surf-box__inner-location{
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}

.surf-box__inner-btn {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url("../img/world-map-dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  .slick-list {
    min-height: 635px;
  }
  .slick-current {
    .slider-dots-content {
      display: block;
      width: 285px;
      padding: 28px 31px 0 32px ;
    }
  }
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slider-dots__content-item {
  text-align: center;
  img {
    margin-bottom: 7px;
  }
}

.slider-dots__content-number {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

.slider-dots__content-name{
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: $green;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.slider-dots__content-subtitle{
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__content-link {
  padding-top: 4px;
}

.slider-dots-circle {
  width: 23px;
  height: 23px;
  background-color: $green;
  border-radius: 50%;
}

.slider-dots-content {
  display: none;
  background: rgba(#0F1010, 0.7);
  border-radius: 6px;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -21px;
    left: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.slider-dots{
  position: relative;
}

.slider-dots--1{
  top: 335px;
  left:0;
  .slider-dots-content {
    transform: translateX(0);
    &::before{
      left: 0;
    }
  }
}

.slider-dots--2{
  top: 270px;
  left: -20px;
  //.slider-dots-content {
  //  transform: translateX(0);
  //  &::before{
  //    left: 0;
  //  }
  //}
  .slider-dots-circle{
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url("../img/mini-marker.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 14px;
      height: 17px;
      right: -20px;
      top: -20px;
    }
  }
}
.slider-dots--3{
  top: 330px;
  left: 25px;
}
.slider-dots--4{
  top: 480px;
  left: -25px;
}
.slider-dots--5{
  top: 210px;
  left: -70px;
}
.slider-dots--6{
  top: 555px;
  left: -110px;
}
.slider-dots--7{
  top: 390px;
  left: -100px;
}
.slider-dots--8{
  top: 500px;
  left: 40px;
  .slider-dots-content {
    transform: translateX(-262px);
    &::before{
      left: auto;
      right: 0;
    }
  }
}

.holder {
  background-image: url("../img/travel-bg.png");
  &.sleep {
    background-image: url("../img/frangipani.png");

  }
  background-position: bottom right;
  background-repeat: no-repeat;
  .slider-arrows {
    top: 225px;
    opacity: 0.25;
  }
}

.holder-slider {
  &__head {
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 780px;
  }
  &__descr {
    padding: 160px 0 0 132px;
    margin-top: -230px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    .descr__head {
      position: relative;
      padding-right: 78px;
      &.descr__head-sleep {
        padding-right: 215px;
      }
      img {
        position: absolute;
        right: 0;
        top: 0;
      }
      .holder__star-list {
        position: absolute;
        right: 0;
        top: 0;
        img {
          position: static;
        }
      }
    }
  }
  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }
  &__btn {
    text-align: center;
  }
}

.holder-slider__info {
  display: flex;
  justify-content: space-around;
}

.holder-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.holder-slider__info-subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  white-space: nowrap;
  text-align: right;
  top: 97px;
  left: -97px;
  width: 200px;
  height: 0;
}

.holder-slider__info-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 40px;
  position: relative;
  .holder-pricing__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 0;
    text-align: right;
    opacity: 0.75;
    letter-spacing: 5.25px;
    position: absolute;
    bottom: -10px;
    right: 0;
  }
}

.shop {
  background-image: url("../img/shop-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  .slider-arrows {
    opacity: 0.25;
  }
  &__slider {
    padding-left: 132px;
    &-inner {
      display: flex;
    }
    &-info {
      max-width: 480px;
      margin-right: 40px;
      width: 100%;
      padding-top: 165px;
    }
    .descr__head-shop {
      max-width: 340px;
      margin-bottom: 47px;
    }
    .shop__star-list {
      margin-left: -10px;
    }
    &-price {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 64px;
      sup {
        font-size: 18px;
        padding-left: 2px;
      }
    }
    &-content {
      padding-left: 170px;
      display: flex;
      align-items: flex-end;
      .shop__extras {
        padding-left: 150px;
        &-title {
          font-weight: 800;
          font-size: 28px;
          line-height: 40px;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        &-inner {
        display: flex;
        }
        &-box {
          text-align: center;
          font-size: 18px;
          margin-right: 57px;
        }
        &-img {
          min-height: 105px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 16px;
        }
        &-name {
          line-height: 22px;
          text-align: right;
          letter-spacing: 8px;
          color: rgba(#fff, .5);
        }
        &-price {
          font-weight: 800;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
}

.surfboard {
  position: relative;
  &-box {
    position: absolute;

    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #fff;
      cursor: pointer;
      &.active {
        .circle-row {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
    &__circle.active + &__content {
      display: block;
    }
    &__content {
      display: none;
      position: absolute;
      width: 360px;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      padding-left: 104px;
      top: -15px;
      left: 35px;
      &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: rgba(#fff, .5);
        left: 0;
        top: 50%;
      }
    }
  }
}

.surfboard-position--1 {
  right: 40px;
  top: 215px;
}
.surfboard-position--2 {
  left: 0;
  top: 315px;
}
.surfboard-position--3 {
  left: 52px;
  bottom: 70px;
  .surfboard-box__content {
    padding-left: 0;
    padding-right: 104px;
    top: -15px;
    left: -380px;
    &::before {
      content: '';
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: rgba(#fff, .5);
      right: 0;
      left: auto;
      top: 50%;
    }
  }
}

.circle-row {
  background-color: $green;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.footer {
  text-align: center;
  padding: 275px 0 34px;
  .btn {
    span {
      padding: 17px 17px 15px;
      &::after {
        display: none;
      }
    }
  }
  &__copy {
    padding-top: 27px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 1.05px;
    opacity: 0.5;
  }
}




















@import "media";
